<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Pusula</title>
 <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="stylesheet" href="https://pusula.kaanweb.com/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="/style/style.css?v=1.2">
    </head>
    <body>
     <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark fixed" data-bs-theme="dark">
      <div class="container-fluid">
       <a class="navbar-brand" href="index.html"></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
          <a class="nav-link" aria-current="page" href="index.html"><img src="icons/favicon-32x32.png" width="30" height="20" class="d-inline-block align-text-top"> PUSULA</a>
         </li>
         <li class="nav-item"><a class="nav-link" href="/politics.html">Politika</a></li>
        <li class="nav-item"><a class="nav-link" href="/technology.html">Teknoloji</a></li>
        <li class="nav-item"><a class="nav-link" href="/sport.html">Spor</a></li>
        <li class="nav-item"><a class="nav-link" href="/health.html">Sağlık</a></li>
        <li class="nav-item"><a class="nav-link" href="/breakingnews.html">Son Dakika</a></li>
         <li class="nav-item">
          <a class="nav-link" href="/author.html">Yazarlarımızdan</a>
         </li>
        <li class="nav-item"><a class="nav-link" href="/login.html">Oturum Aç</a></li>
        <li class="nav-item"><a class="nav-link" href="/register.html">Üye Ol</a></li>
        </ul>


       </div>

     </nav>
  <nav>
      <div class="tradingview-widget-container">
       <div class="tradingview-widget-container__widget"></div>
       <div class="tradingview-widget-copyright"><a href="https://tr.tradingview.com" _fcksavedurl="https://tr.tradingview.com" rel="noopener" target="_blank">
         <span class="tradingview-widget-copyright-link">Grafikler</span></a> tarafından sağlanmaktadır
       </div>
       <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>   {
        "symbols" [     {     "proName": "FOREXCOM:SPXUSD", "title": "S&P 500"     }, {     "proName": "FOREXCOM:NSXUSD", "title": "Nasdaq 100"     }, {     "proName": "FX_IDC:EURUSD", "title": "EUR/USD"     }, {     "proName": "BITSTAMP:BTCUSD", "title": "BTC/USD"     }, {     "proName": "BITSTAMP:ETHUSD", "title": "ETH/USD"     }   ], "showSymbolLogo" = true, "colorTheme" = "dark", "isTransparent" = false, "displayMode" = "adaptive", "locale" = "tr" }


       </script> 
      </div>
     </nav>

        <div class="container">
    <h3
      class="text-dark mt-4 p-3 text-center bg-secondary bg-opacity-10 border border-dark border-start-0 border-end-0">
      TEKNOLOJİ</h3>
    <p class="placeholder-wave">
      <span class="placeholder col-12 placeholder-xs bg-dark"></span>
    </p>
    <div class="container">
      <div class="row">
     
      <div class="wrap">
          <a href="/newsexample.html">
         <div class="article" style="background-image: url(https://images.unsplash.com/photo-1446776877081-d282a0f896e2?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)"> 
         
            <div class="overlay"></div>
            <div class="wrap-cat">
                <span class="cat" data-hover="Humans in Space">Humans in Space</span>
            </div>
            <h1>
                <span>Juno Solves 39-Year Old Mystery of Jupiter Lightning</span>
            </h1>
        </div>
         </a>
          <a href="/newsexample.html">
        <div class="article" style="background-image: url(https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div class="overlay"></div>
            <div class="wrap-cat">
                <span class="cat" data-hover="Moon to Mars">Moon to Mars</span>
            </div>
            <h1>
                <span>Astronomers Spot a Distant and Lonely Neutron Star</span>
            </h1>
        </div>
         </a>
          <a href="/newsexample.html">
        <div class="article" style="background-image: url(https://images.unsplash.com/photo-1518364538800-6bae3c2ea0f2?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div class="overlay"></div>
            <div class="wrap-cat">
                <span class="cat" data-hover="Burst of Energy">Burst of Energy</span>
            </div>
            <h1>
                <span>Solar flares and eruptions can impact radio communications, electric power grids, and navigation signals and pose risks to spacecraft and astronauts.</span>
            </h1>
        </div>
         </a>
          <a href="/newsexample.html">
      <div class="article" style="background-image: url(https://images.unsplash.com/photo-1518364538800-6bae3c2ea0f2?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
       
            <div class="overlay"></div>
            <div class="wrap-cat">
                <span class="cat" data-hover="Flight">Flight</span>
            </div>
            <h1>
                <span>Astronauts Safely in Orbit Following Launch to International Space Station</span>
            </h1>
        </div>
         </a>
       <a href="/newsexample.html">
         <div class="article" style="background-image: url(https://images.unsplash.com/photo-1446776877081-d282a0f896e2?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)"> 
         
            <div class="overlay"></div>
            <div class="wrap-cat">
                <span class="cat" data-hover="Humans in Space">Humans in Space</span>
            </div>
            <h1>
                <span>Juno Solves 39-Year Old Mystery of Jupiter Lightning</span>
            </h1>
        </div>
         </a>
          <a href="/newsexample.html">
        <div class="article" style="background-image: url(https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <div class="overlay"></div>
            <div class="wrap-cat">
                <span class="cat" data-hover="Moon to Mars">Moon to Mars</span>
            </div>
            <h1>
                <span>Astronomers Spot a Distant and Lonely Neutron Star</span>
            </h1>
        </div>
         </a>
       
        
        
    </div>
      
     </div>
    </div>
        </div>
        
        
        <div class="footer">
    <div class="contain">
      <div class="col">
        <h1>Company</h1>
        <ul>
          <li>About</li>
          <li>Mission</li>
          <li>Services</li>
          <li>Social</li>
          <li>Get in touch</li>
        </ul>
      </div>
      <div class="col">
        <h1>Products</h1>
        <ul>
          <li>About</li>
          <li>Mission</li>
          <li>Services</li>
          <li>Social</li>
          <li>Get in touch</li>
        </ul>
      </div>
      <div class="col">
        <h1>Accounts</h1>
        <ul>
          <li>About</li>
          <li>Mission</li>
          <li>Services</li>
          <li>Social</li>
          <li>Get in touch</li>
        </ul>
      </div>
      <div class="col">
        <h1>Resources</h1>
        <ul>
          <li>Webmail</li>
          <li>Redeem code</li>
          <li>WHOIS lookup</li>
          <li>Site map</li>
          <li>Web templates</li>
          <li>Email templates</li>
        </ul>
      </div>
      <div class="col">
        <h1>Support</h1>
        <ul>
          <li>Contact us</li>
          <li>Web chat</li>
          <li>Open ticket</li>
        </ul>
      </div>
      <div class="col social">
        <h1>Social</h1>
        <ul>
          <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
          <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
          <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script
    src="https://pusula.kaanweb.com/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/bootstrap-5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
  <script
    src="https://pusula.kaanweb.com/bootstrap-5.3.3-dist\bootstrap-5.3.3-dist\js\bootstrap.bundle.min.js"></script>
  <script src="https://pusula.kaanweb.com/widget.js"></script>
  <script type="text/javascript" src="https://paracevirici.com/servis/widget/widget.js"></script>
  <script src="slider.js"></script>
</body>

</html>


